.top-header {
    top: 49px;
    position: absolute;
    right: 0;
    z-index: 999;
    width: 100%;
    background: linear-gradient(180deg, rgba(217, 39, 148, 0.6) 0%, rgba(217, 39, 148, 0.24) 67.21%, rgba(217, 39, 148, 0) 100%);
}
.top-content{
    background: #5A2C1E;
    padding: 16px 0;
}
.top-title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: capitalize;
}
.top-header .nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 10px;
}
.top-header .nav-list {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}
.top-header .list-item {
    padding: 0 10px;
}

.top-header .icon-with-text-wrap {
    display: flex;
    align-items: center;
}
.top-header .nav-list-items {
    max-width: 350px;
    flex: 350px;
}
.top-header .link-item {
    color: #FFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}
.top-header .nav-search-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header .input--search-wrap {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FFFF;
    margin-right: 12px;
    max-width: 150px;
    padding-bottom: 10px;
}
.top-header .icon-search {
    margin-right: 8px;
    color: #FFFF;
}
.top-header input#gsearch {
    color: white;
}
.top-header .search-search input#gsearch::placeholder {
    color: #FFFF;
}
.top-content .icon-with-text-wrap {
    display: flex;
    align-items: center;
}
.top-header .icon--wrapper {
    display: flex;
    align-items: center;
}
.top-header .tut-icon {
    margin-right: 26px;
    color: #FFFF;
}
.top-header .facebook-icon {
    margin-right: 7px;
    color: #FFFF;
}
.top-headeri .icon-with-text-wrap {
    display: flex;
    align-items: center;
}
.top-header .nave-last-text {
    color: #FFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}
.top-header .item-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -12px;
}
.top-header .listed-item {
    color: #FFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 12px;
}
/* ***************************************** */
.hero-banner {
    overflow: hidden;
    margin-bottom: 70px;
}
.hero-banner .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
}
.hero-container .b-sets {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.hero-container .sets {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}
.hero-container .sets:not(:last-child) {
    border-right: 1px solid #FFFFFF;
    margin-right: 10px;
    padding-right: 10px;
}
.hero-container .banner-img {
    position: relative;
}
.hero-container .banner-content {
    position: absolute;
    top: 263px;
    left: 66px;
    width: 100%;
    max-width: 450px;
    z-index: 1;
}
.hero-container .b-shop {
    color: #FFFF;
    font-family: 'Commissioner';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.hero-container .b-title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.hero-container .banner-title {
    max-width: 165px;
    margin-bottom: 20px;
}
/* *************main-collection*********** */

.main-collection {
    margin-bottom: 70px;
}
.main-collection .collection--imagess{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
}
.main-collection .collection-images-wrap {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
    position: relative;
}
.main-collection .collection-titles {
    margin-bottom: 40px;
}
.main-collection .img-with-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 28px;
    left: 30px;
    width: 100%;
    max-width: 359px;

}
.main-collection .collection-shop-text {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.main-collection .title-with-img {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.main-collection .collection--title {
    color: #C89540;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.main-collection .collection-pre-title {
    color: #C89540;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 12px;
}
/* ******************collection**************** */
.collection {
    margin-bottom: 70px;
    overflow: hidden;
}
.collection .collection--images{
    display: flex;
    align-items: center;
    margin: 0 -10px;
}
.collection .collection-images-wrap {
    max-width: 50%;
    flex: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
    position: relative;
    /* min-height: 666px;
    height: 1px; */
}
.collection .collection-img1 {
    min-height: 666px;
    height: 1px;
}
.collection .img-with-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100%;
    max-width: 560px;
}
.collection .collection-shop-text {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.collection .title-with-img {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.collection .collection--title {
    color: #C89540;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.collection .collection-titles {
    margin-bottom: 40px;
}
.collection .collection-pre-title {
    color: #C89540;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.collection .collection-contents {
    position: absolute;
    bottom: 28px;
    left: 50%;
    max-width: 222px;
    transform: translateX(-50%);
}
.collection .collection-title {
    max-width: 222px;
    font-family: 'Commissioner';
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
}
.collection .b-shop {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
/* ************best-seller-products**************** */
.best-seller-products {
    margin-bottom: 60px;
}
.best-seller-products .products--seller-wrap {
    display: flex;
    align-items: center;
    margin: 0 -10px 40px;
}
.best-seller-products .products-wrapper {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 10px;
}
.best-seller-products .seller-product-name-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
.best-seller-products .seller-pre-title {
    color: #C89540;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.best-seller-products .seller--title {
    color: #C89540;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.best-seller-products .seller-titles {
    margin-bottom: 40px;
}
.best-seller-products .products-seller-images {
    margin-bottom: 16px;
}
.best-seller-products .s-product-name {
    color: #000000;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}
.best-seller-products .seller-price {
    color: #000000;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.8;
}
.best-seller-products .shop-p {
    color: #D6158B;
    max-width: 247px;
    margin: 0 auto;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}
/* *******************best-seller-products-two******************** */

.best-seller-products-two {
    margin-bottom: 60px;
}
.best-seller-products-two .half-width {
    max-width: 325px;
    height: 3px;
    display: block;
    background: #c3baba;
    margin: 0 auto 20px;
    border-radius: 3px;
}
.best-seller-products-two .haalf-width {
    max-width: 25%;
    height: 3px;
    display: block;
    background: #858282;
    border-radius: 6px;
}
.best-seller-products-two .products--seller-wrap {
    display: flex;
    align-items: center;
    margin: 0 -10px 40px;
}
.best-seller-products-two .products-wrapper {
    max-width: 3333%;
    flex: 3333%;
    padding: 0 10px;
}
.best-seller-products-two .seller-product-name-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
.best-seller-products-two .seller-pre-title {
    color: #C89540;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.best-seller-products-two .seller--title {
    color: #C89540;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.best-seller-products-two .products-seller-images {
    margin-bottom: 16px;
}
.best-seller-products-two .s-product-name {
    color: #000000;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}
.best-seller-products-two .seller-price {
    color: #000000;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
}
.best-seller-products-two .shop-p {
    color: #D6158B;
    max-width: 247px;
    margin: 0 auto;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.best-seller-products-two .para1 {
    color: #000000;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    padding: 0 10px;
}
.best-seller-products-two .product-third-text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 -10px 46px; */
    /* border-bottom: 3px solid #c3baba;
    margin: 0 -10px 20px -10px; */
    border-radius: 3px;
    max-width: 380px;
    padding-bottom: 8px;
}
/* ***************alpha--products************* */
.alpha--products {
    margin-bottom: 60px;
    overflow: hidden;
}
.alpha--products .prod-top-text {
    margin-bottom: 30px;
}
.alpha--products .product--images-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/* .alpha--products .p--img1:not(:last-child) {
    margin-right: 10px;
} */
.alpha--products .pp--text {
    color: #000000;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Commissioner';
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
}
/* .alpha--products .product-last-large-img {
    position: relative;
} */

.alpha--products .alpha-poduct--full-img-wrap {
    position: relative;
}
.alpha--products .product-position-content {
    position: absolute;
    top: 50%;
    left: 50%;
}
.alpha--products .p-last-text {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-transform: capitalize;
    max-width: 445px;
    margin: 0 auto;
}
.alpha--products .title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
    max-width: 522px;
    margin: 0 auto 10px;
}
.alpha--products .product-position-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 111;
}
/* ****************roopkala***************** */
.mobile-responsive {
    display: none;
}
.roopkala {
    margin-bottom: 70px;
}
.roopkala .roopkala-images-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.roopkala .stars-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.roopkala .roop-titles {
    text-align: center;
    margin-bottom: 40px;
}
.roopkala .r--pre-titles {
    color: #C89540;
    font-family: 'Commissioner';
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.roopkala .r--title {
    color: #C89540;
    font-family: 'Commissioner';
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    
}
.roopkala .roopkala-images:not(:last-child) {
    margin-right: 10px;
}
.roopkala .last-content-title {
    color: #000000;
    max-width: 380px;
    margin: 0 auto;
    font-family: 'Commissioner';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 18px;
}
.roopkala .stars-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.roopkala .swiper-icons {
    color: #C89540;
    /* background: #C89540; */

}
.roopkala .star-icon:not(:last-child){
    margin-right: 8px;
}
.roopkala .last-content-paraa {
    color: #000000;
    text-align: center;
    font-family: 'Commissioner';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 661px;
    margin: 0 auto 24px;
    width: 100%;
}
.roopkala .last-content-txt-name {
    color: #C89540;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}
/* ==================footer==================== */


.footer .footer-wrapper {
    display: flex;
    margin-bottom: 70px;
}
.footer .footer-logo {
    max-width: 194px;
    margin-bottom: 34px;
}
.footer .footer-list-items {
    display: flex;
    justify-content: space-between;
}
.footer .f--beta--2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a9936f;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.footer .f--beta--4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer-beta {
    max-width: 50%;
    flex: 50%;
}
.footer .footer-alpha {
    max-width: 50%;
    flex: 50%;
    margin-right: 120px;
}
.footer .f--heaing {
    color: #000000;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
}
.footer .f--link {
    color: #000000;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
}
.footer .f--link:not(:last-child) {
    margin-bottom: 10px;
}
.footer .beta-sub {
    color: #C89540;
    font-family: 'Playfair Display';
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.footer .beta-sub-para1 {
    color: #C89540;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.footer .beta---subscribe {
    color: #C89540;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
.footer input#gmail {
    color: #000000;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 210px;
    width: 100%;
    min-width: 210px;
}
.footer .f--beta--2 input#gmail::placeholder{
    color: #7c7974;
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    background: none;
    outline: none;
}
.footer .f--beta--1-head {
    margin-bottom: 34px;
}
.footer .f--items {
    margin-bottom: 12px;
}
.footer .beta-second-head {
    color: #000000;
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 15px;
}
.footer .beta--second--para {
    color: #000000;
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 200;
    line-height: 1.2;
    max-width: 401px;
}
.footer .f--beta--3 {
    margin-bottom: 30px;
}
.footer .footer-last-copyright-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a9936f;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
}
.footer .f--last-wrap-Terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .first--comment {
    color: #000000;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.footer .f--last-Privacy-text1 {
    color: #000000;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.footer .f--last-Privacy-text1:not(:last-child) {
   margin-right: 10px;
}
.footer .beta--last-icons {
    max-width: 60px;
}
.top-header .mobile-responsive {
    display: none;
}
.hero-banner .desktop-desk--two {
    display: block;
}
.hero-banner .mobile-res {
    display: none;
}
.only-mobile--sliders--two {
    display: none;
}
.main-collection .main-collection--responsive {
    display: none;
}
/* .main-collection .main-collection--responsive .collection-images-wrap {
    max-width: 100%;
    flex: 100%;
    padding: unset;
    margin-bottom: unset;
} */
.collection .responsive-images {
    display: none;
}
.best-seller-products .responsive-two {
    display: none;
}


@media screen and (max-width:1279px) {
    /* .top-header .logo {
        max-width: 266px;
    } */
   
}
@media screen and (max-width:990px) {
    .top-header .logo {
        max-width: 266px;
    }
    .hero-banner {
        margin-bottom: 50px;
    }
    .main-collection .img-with-text {
        max-width: 308px;
    }
    .main-collection .collection-images-wrap {
        max-width: 50%;
        flex: 50%;
    }
    .best-seller-products .products-wrapper {
        max-width: 50%;
        flex: 50%;
    }
    .best-seller-products .products-wrapper:not(:last-child) {
       margin-bottom: 20px;
    }
    .best-seller-products .products--seller-wrap {
        flex-wrap: wrap;
    }
    .best-seller-products-two .products--seller-wrap {
        flex-wrap: wrap;
    }
    .best-seller-products-two .products-wrapper {
        max-width: 50%;
        flex: 50%;
    }
    .best-seller-products-two .products-wrapper:not(:last-child) {
       margin-bottom: 20px;
    }









    .top-header .tut-icon {
        margin-right: 13px;
    }
    .top-header .listed-item {
        font-size: 12px;
        padding: 0 11px;
    }
    
    .main-collection .title-with-img {
        font-size: 15px;
    }
    .collection .collection--title {
        font-size: 48px;
    }
    .best-seller-products .seller--title {
        font-size: 43px;
    }
    .best-seller-products .s-product-name {
        font-size: 14px;
    }
    .best-seller-products .seller-price {
        font-size: 12px;
    }
    .main-collection .collection--title {
        font-size: 40px;
    }
    .best-seller-products-two .seller--title {
        font-size: 45px;
        margin-bottom: 25px;
    }
    .roopkala .r--title {
        font-size: 46px;
    }
    .roopkala .r--pre-titles {
        font-size: 21px;
    }
    .alpha--products .pp--text {
        font-size: 22px;
    }
    .alpha--products .title {
        font-size: 55px;
    }
    .alpha--products .p-last-text {
        font-size: 15px;
    }
    .footer .footer-alpha {
        margin-right: 0;
    }
    .footer .footer-wrapper {
        flex-wrap: wrap;
    }
    .footer .footer-alpha {
        max-width: 100%;
        flex: 100%;
    }
    .footer .footer-beta {
        max-width: 100%;
        flex: 100%;
    }
    .footer .beta-sub {
        font-size: 33px;
    }
    .footer .beta-sub-para1 {
        font-size: 15px;
    }
    .footer .beta---subscribe {
        font-size: 14px;
    }
    .footer .beta-second-head {
        font-size: 28px;
    }
    .roopkala .last-content-paraa {
        font-size: 16px;
    }
    .roopkala .last-content-title {
        font-size: 29px;
    }
    .best-seller-products .shop-p {
        text-align: center;
    }
    .top-header .input--search-wrap {
        margin-right: 10px;
        max-width: 105px;
    }
    .top-header .nav-list {
        margin: 0 -8px;
    }
    .top-header .list-item {
        padding: 0 8px;
    }
    .top-header .nav-list-items {
        max-width: 260px;
        flex: 260px;
    }
    .top-header .logo {
        max-width: 160px;
    }
    .hero-container .banner-content {
        max-width: 358px;
    }
    .hero-container .banner-title {
        margin-bottom: 16px;
    }
    .hero-container .b-sets {
        margin-bottom: 19px;
    }

}
@media screen and (max-width:767px) {
    .best-seller-products .responsive-two {
        display: block;
    }
    .best-seller-products .desktop-two {
        display: none;
    }
    .best-seller-products-two .products-wrapper:not(:last-child) {
        margin-bottom: unset;
    }
    .main-collection .collection--imagess {
        flex-wrap: nowrap;
    }
    .footer-listed-wrappers {
        max-width: 50%;
        flex: 50%;
    }
    .footer .footer-list-items {
        flex-wrap: wrap;
    }
    .collection .responsive-images {
        display: block;
    }
    .collection .desktop-images  {
        display: none;
    }
    .collection .collection-images-wrap {
        max-width: 100%;
        flex: 100%;
        padding: unset;
        margin-bottom: 20px;
        position: unset;
    }
    .best-seller-products .products-wrapper {
        max-width: 100%;
        flex: 100%;
    }
    .best-seller-products-two .para1 {
        font-size: 14px;
    }
    .best-seller-products-two .products-wrapper {
        max-width: 100%;
        flex: 100%;
        padding: unset;
    }
    .best-seller-products-two .products--seller-wrap {
        flex-wrap: nowrap;
    }



    .main-collection .main-collection--desktop {
        display: none;
    }
    .main-collection .main-collection--responsive {
        display: block;
    }
    .main-collection--responsive .collection-images-wrap {
        max-width: 100%;
        flex: 100%;
        padding: unset;
        margin-bottom: unset;
    }


    .hero-container .b-shop {
        font-size: 14px;
    }
    .hero-container .b-sets {
        justify-content: center;
    }
    .hero-container .banner-title {
        margin: 0 auto;
    }
    .hero-container .b-shop {
        text-align: center;
    }
    .res-img1 .swiper-slide {
        max-width: 200px;
    }
    .images-wrap.swiper-wrapper {
        display: flex;
        align-items: center;
    }
    .only-mobile--sliders--two {
        display: block;
        margin-bottom: 40px;
    }
    .only-mobile--sliders--two .slider--text {
        color: #C89540;
        font-family: 'Commissioner';
        font-size: 10px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .only-mobile--sliders--two .res-img1 {
        text-align: center;
    }







    .top-header .desktop-desk {
        display: none;
    }
    .top-header .mobile--res-wrap {
        display: flex;
        align-items: center;
    }
    .top-header .mobile-res--right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .top-header .res-left--side-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .top-header .mobile-responsive {
        display: block;
        margin-bottom: 50px;
        background: #FFFFFF;
    }
    .top-header .wrap {
        display: none;
    }
    .mobile-icons {
        margin-right: 10px;
        font-size: 15px;
    }
    .top-header .facebook-icon {
        color: #000000;
        font-size: 15px;
    }
    .top-header .nave-last-text {
        color: #000000;
        font-size: 15px;
    }
    .top-header .icon-search {
        color: #000000;
        font-size: 15px;
    }
    .mobile-responsive {
        background: #FFFFFF;
        position: unset;
        /* display: none; */
    }
    .hero-banner .desktop-desk--two {
        display: none;
    }
    .hero-banner .mobile-res {
        display: block;
        position: relative;
    }
    .hero-container .banner-content {
        top: unset;
        left: unset;
    }
    .hero-container .banner-content {
        bottom: 157px;
        right: 50px;
    }






















    .top-header .tut-icon {
        margin-right: 10px;
    }
    .top-header .nav-list-items {
        max-width: 235px;
        flex: 235px;
    }
    .top-header .link-item {
        font-size: 12px;
    }
    .mobile-responsive .nav-logo {
        max-width: 200px;
        margin: 0 auto 50px;
    }
    .top-header .input--search-wrap {
        margin-right: 10px;
        max-width: 105px;
    }
    .top-header .listed-item {
        padding: 0 10px;
    }
    .top-header .item-list {
        margin: 0 -10px;
    }














}
